.feed-btn button{
    width: 71%;
    padding: 2%;
    background-color: #0d3f5e;
    color: white;
    border-radius: 10px;
    font-style: italic;
    cursor: pointer;
    margin-left: -1%;
    margin-top: 3%;
    border: 2px solid rgb(78, 194, 136);
}
.feed h2{
    font-family: cursive;
    
}
.feed{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 100;
    background-color: #aebcec8d;
    height: 500px;
    width: 32%;
    border-radius: 10px;
    margin-left: 32%;
    margin-top: 4.5%;
    padding: 3%;
}
.feed-input{
    border-radius: 5px;
    padding-left: 15%;
    margin-top:3%;
}
.feed-input1{
    border-radius: 5px;
    padding: 8%;
    margin-top: 3%;
}
@media  screen and (max-width:1500px) {
    .feed-btn button{
        width: 71%;
        padding: 2%;
        background-color: #0d3f5e;
        color: white;
        border-radius: 10px;
        font-style: italic;
        cursor: pointer;
        margin-left: -1%;
        margin-top: 3%;
    }
    .feed h2{
        font-family: cursive;
        margin-top: 5%;
    }
    .feed{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-weight: 100;
        background-color: #aebcec8d;
        height: 450px;
        width: 50%;
        border-radius: 10px;
        margin-left: 28%;
        margin-top: 20%;
        padding: 3%;
    }
    .feed-input{
        border-radius: 5px;
        padding-left: 15%;
        margin-top:3%;
    }
    .feed-input1{
        border-radius: 5px;
        padding: 8%;
        margin-top: 3%;
    }
    
}
 