.login-s video
{
    object-fit: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    filter: brightness(70%);
}

.container-s
{
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    height: 600px;
    width: 500px;
    background-color: rgba(2, 2, 2, 0.1);
    margin-left: 30%;
    margin-top:25%;
    padding: 3%;
}

.loginheading-s h2{
    font-family: Lyon;
    font-weight: 700;
    font-style: normal;
    color: ghostwhite;
    font-size: 2.625rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.content-s h4{
    color: ghostwhite;
    margin-top: 4%;
}
.quote-s h1{
    font-size: 50px;
    color: ghostwhite;
    margin-left: 60%;
    margin-top: -30%;

}
.quote-s h3{
    font-size: 30px;
    color: ghostwhite;
    margin-left: 67%;
    /* margin-top: -40%; */
}
.content-s h3{
    font-family: Effra,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    color: white;
    margin-left: 2%;
}
.content-s  input{
    border: 1px solid #0d3f5e;
    display: flex;
    width: 70%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff
}
.signup-s
{
    color:ghostwhite;
    margin-top: -7.5%;
    margin-left: 70%;
    cursor: pointer;
}
.signup-s:hover
{
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.514);
    text-align: center;
}

.button-s
{
    background-color: #0a8552;
    border: 1px solid #0a8552;
    color: white;
    padding: 20px;
    border-radius: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size:23px;

}
.button-s:hover{
    transform: scale(1.1);
    transition: all .3s ease;
    text-transform: uppercase;
}
.fp-s a{
    text-decoration: none;
    color: ghostwhite;

}
.fp a:hover{
    transform:scale(1.2);
    transition: all .4s ease;
}

/* signup-page-style*/

.signupform-s video
{
    object-fit: cover;
    top: 0;
    left: 0;
    position: absolute;height: 100%;width: 100%;
    z-index: -1;
    filter: brightness(70%);
}

.quote1-s h1{
    font-size: 50px;
    color: ghostwhite;
    margin-left: 55%;
    margin-top: -40%;

}
.quote1-s h3{
    font-size: 30px;
    color: ghostwhite;
    margin-left: 60%;
}

.signup_container-s
{
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    height: 600px;
    width: 500px;
    background-color: rgba(2, 2, 2, 0.1);
    margin-left: 30%;
    margin-top:25%;
    padding: 3%;
}
.signup_container-s h2
{
    font-family: Lyon;
    font-weight: 700;
    font-style: normal;
    color: ghostwhite;
    font-size: 2.625rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.signup_content-s input{
    border: 1px solid #0d3f5e;
    display: flex;
    width: 70%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    margin-top: 2%;
}
.signup_btn-s{
    background-color: #0a8552;
    border: 1px solid #0a8552;
    color: white;
    padding: 20px;
    border-radius: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size:23px;
    cursor: pointer;
    margin-top: 2%;
}
.signup_btn-s:hover{
    transform: scale(1.1);
    transition: all .3s ease;
    text-transform: uppercase;
}
.loginsignup-s
{
    font-weight: bold;
    margin-left: 40%;
    margin-top: -17%;
    color: ghostwhite;
}
.loginsignup-s p
{
    cursor: pointer;
    margin-top: 5%;
}

@media screen and (max-width:1000px) {

    .signup_container-s
{
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    height: 500px;
    width: 300px;
    background-color: rgba(2, 2, 2, 0.1);
    margin-left: 30%;
    margin-top:25%;
    padding: 3%;
}
.container-s
{
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    height: 500px;
    width: 500px;
    background-color: rgba(5, 5, 5, 0.1);
    margin-left: 30%;
    margin-top: 32%;
}

}
@media screen and (max-width:960px) {
    .quote-s{
        display: none;

    }
    .quote1-s{
        display: none;
    }
    
}