.aboutus {
  width: 100%;
    text-align: center;
    padding-top:100px ;
    background-color: rgba(0,0, 0, .1);
    padding:5%;
    height: 400px;
    width: 1900px;
}
.video video{
  
  position: absolute;
  filter: brightness(20%);
    top: 0;
    left: 0;
    z-index: -1;
   width:222.8%;
   margin-left: -1000px;
   margin-top: -100px;
   height: 121.6%;
   padding-bottom: 100;
   object-fit: cover;
  
}

.aboutus h2 {
    margin: 1rem 0;
    color: ghostwhite;
}

.aboutus .container {
    width: 1140px;
    height: 800px;
    
}

.aboutus.container > p {
    margin: 1rem 0 3rem 0;
    font-size: 1.2rem;
    color: ghostwhite;
}

 .aboutus .card-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    margin-top: -100px;
   margin-left: -380px;
    column-gap: 1rem;
    row-gap: 1rem;
   
}

 .aboutus .card {
   align-items: center;
   margin-top: 260px;
   margin-left: 90px;
    flex-direction: column;
    justify-content:space-around;
    height: 390px;
    width: 350px;
    padding: 3rem 2rem ;
    border: 1px solid ghostwhite;
    text-align: left;
    border-radius: 24px;
    opacity:10;
    background-color: rgba(0,0, 0, .1);
}
.aboutus .card:hover {
    transform: scale(1.05);
    transition: 1s ease-in-out;
}


.aboutus .card h3 {
    margin: 1rem 0;
    color: ghostwhite;
}

.aboutus .card p {
    font-size: 20px;
    color: grey;
}

.aboutus .icon-container {
    background-color: var(--primary-blue);
    border-radius: 50px;
    display: inline-flex;
    padding: 1rem;
}
.linker {

    border:white;
  font-family: 'Lato';
  font-size: 30;
  color: black;
  background:local;
  text-decoration: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.linker:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }
.linker:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.linker:hover {
    background: rgba(0,0, 0, .1);
  }





/* Icons */

.icon-cart:before {
  content: "\f07a";
  
}

.icon-heart:before {
  content: "\f55a";
}

.icon-info:before {
  content: "\f05a";
}

.icon-send:before {
  content: "\f1d8";
}



.aboutus .icon {
    font-size: 4rem;
    color: #0d3f5e;
}

.aboutus .btn {
    display: inline-block;
    margin-top: 1rem;
}

@media screen and (max-width:1100px) {
  .aboutus {
    width: 100%;
      text-align: center;
      padding-top:100px ;
      background-color: rgba(0,0, 0, .1);
      padding:5%;
      height: 500px;
      width: 1900px;
  }
    .aboutus .card-container {
        grid-template-columns: repeat(1, 1fr);
        width: 1px;
  padding: 50 30px;
  margin-left: -30px;
  
    }
    .aboutus .video{
      position: absolute;
      filter: brightness(60%);
        top: 0;
        left: 0;
        z-index: -1;
       width:222.8%;
       margin-left: -1000px;
       margin-top: -100px;
       height: 180%;
       padding-bottom: 100;
       object-fit: cover;
    }
    
}
@media screen and (max-width:1100px) {
  .aboutus {
    width: 100%;
      text-align: center;
      padding-top:100px ;
      background-color: rgba(0,0, 0, .1);
      padding:5%;
      height: 400px;
      width: 1900px;
  }
  .aboutus .card-container {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
padding: 0 30px;
margin-left: -350px;
}
.aboutus .video{
  position: absolute;
  filter: brightness(60%);
    top: 0;
    left: 0;
    z-index: -1;
   width:222.8%;
   margin-left: -1000px;
   margin-top: -100px;
   height: 121.6%;
   padding-bottom: 100;
   object-fit: cover;
}
}














