/* footer{
    width: 100%;
    position: absolute;
    background-color: #0d3f5e;
    color:#fff;
    font-size: 13px;
    height: 45%;
}


.row{
    width: 85%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding: 3%;
    margin-left: 4%;
    padding-top: 7%;
    height: 40%;
}

.footer-logo{
    width: 80%;
    margin-top: -9%;
}

.col h3{
    width: fit-content;
    margin-bottom:3%;
    margin-top: -2%;
    position: relative;
}

.footer-icons{
    margin-right: 3%;
    margin-bottom: 2%;
    width: min-content;
    height: min-content;
}

.footer-icons:hover{
    transform: scale(1.2);
}

.helpdesk{
    padding-top: 10%;
    padding-bottom: 4%;
}

.footer-help{
    text-decoration: none;
    color: #fff;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
}

.footer-copyrights{
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-desc{
    font-size: 125%;
}

@media screen and (max-width:768px){
        .footer-desc{
            display: none;
        }
    .react__icons{
        margin-top: -80px;
    }
}

.footer-spliter{
    border: 1px solid #fff;
    width: 96%;
    margin-left: 2%;
    margin-top: -4%;
    margin-bottom: .5%;
}
.footer-terms{
    font-size: 125%;
    text-decoration: none;
    color: white;
    margin-left: 3%;
}
.footer-terms:hover{
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
} */

footer{
    width: 100%;
    position: absolute;
    background-color: #0d3f5e;
    color:#fff;
    padding: 5% 0 10px 2%;
    font-size: 13px;
    height: 40%;
}


.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding: 10px;
}

.footer-logo{
    width: 200px;
}

.col h3{
    width: fit-content;
    margin-bottom:10px;
    margin-top: -10px;
    position: relative;
}

.footer-icons{
    margin-right: 10px;
}

.footer-icons:hover{
    transform: scale(1.2);
}

.helpdesk{
    padding-top: 25px;
}

.footer-help{
    text-decoration: none;
    color: #fff;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
}

.footer-copyrights{
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-desc{
    font-size: 15px;
}

.footer-spliter{
    border: 1px solid #fff;
    width: 98%;
    padding-left: 28px;
}
.footer-terms{
    font-size: 15px;
    text-decoration: none;
    color: white;
}
.footer-terms:hover{
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}
@media  screen and (max-width:1000px) {
    footer{
        width: 100%;
        height: 70%;
        margin-bottom: -450px;
        position: absolute;
        bottom: 0;
        background-color: #0d3f5e;
        color:#fff;
        padding: 20px 0 10px;
        font-size: 13px;
    }
    
    
    .row{
        width: 85%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    .col{
        flex-basis: 25%;
        padding: 10px;
    }
    
    .footer-logo{
        width: 200px;
    }
    
    .col h3{
        width: fit-content;
        margin-bottom:10px;
        margin-top: -10px;
        position: relative;
    }
    
    .footer-icons{
        margin-right: 10px;
    }
    
    .footer-icons:hover{
        transform: scale(1.2);
    }
    
    .helpdesk{
        padding-top: 25px;
    }
    
    .footer-help{
        text-decoration: none;
        color: #fff;
        align-items: flex-start;
        justify-content: flex-start;
        display: flex;
    }
    
    .footer-copyrights{
        color: gray;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-desc{
        font-size: 15px;
    }
    
    .footer-spliter{
        border: 1px solid #fff;
        width: 98%;
        padding-left: 28px;
    }
    .footer-terms{
        font-size: 15px;
        text-decoration: none;
        color: white;
    }
    .footer-terms:hover{
        color: #fff;
        text-decoration: underline;
        cursor: pointer;
    }

}